useDynLib(fdaPDEtime)

	import(Matrix)
	import(rgl)
	import(geometry)
	importFrom("grDevices", "heat.colors")
	importFrom("graphics", "plot", "segments")
	importFrom("stats", "lm.fit")
	export(create.mesh.2D,refine.mesh.2D,create.mesh.2.5D,create.mesh.3D)
	export(create.FEM.basis, smooth.FEM.time, FEM, eval.FEM, FEM.time, eval.FEM.time)
	export(plot.mesh.2D,plot.FEM, plot.mesh.2.5D, plot.mesh.3D, image.FEM, plot.FEM.time)
	export(CPP_smooth.FEM.time, CPP_smooth.FEM.PDE.time, CPP_smooth.FEM.PDE.sv.time, CPP_eval.FEM, CPP_eval.FEM.time, CPP_get_evaluations_points, CPP_get.FEM.Mass.Matrix, CPP_get.FEM.Stiff.Matrix, CPP_get.FEM.PDE.Matrix, CPP_get.FEM.PDE.sv.Matrix, CPP_smooth.manifold.FEM.time, CPP_eval.manifold.FEM)
	S3method(plot,FEM)
	S3method(plot,FEM.time)
	S3method(plot,mesh.2D)
